# Files for the Dalvik VM
*.dex

# Java class files
*.class

# Log Files
*.log

# Temporary files
*~

# R files
.RData
.Rhistory
.Rproj.user

# Python files
*.pyc

# Other files
crawler/login.py
crawler/login.sh
crawler/credentials.py
